<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Tastybrew.com</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" media="screen" href="../media/css/site.css">
    <link rel="stylesheet" type="text/css" media="print" href="../media/css/print.css">
	<script type="text/javascript" src="../media/js/jquery-1.2.6.js"></script>
	<script type="text/javascript" src="../media/js/djDebug.settings.js"></script>
</head>
<body id="section-home">
    <div id="djDebugBlock">
    	<div id="djDebugToolbar">
    		<div id="djDebugVersionPanel" class="panelContent">
    		    <a title="Version" href="#" class="version panelToggle">Version</a>
    		    <div class="panelContentView">
    		      	<h1>Version</h1>
        			1.0-beta_1-SVN-unknown
    		    </div>
    		</div>
    		<div id="djDebugSQLQueriesPanel" class="panelContent">
    		    <a title="SQL Queries" href="#" class="queries panelToggle">SQL Queries</a>
    		    <div class="panelContentView">
        			<h1>SQL Queries</h1>
        			<dl>
        				<dt>0.001</dt>
        				<dd>SELECT `django_session`.`session_key`, `django_session`.`session_data`, `django_session`.`expire_date` FROM `django_session` WHERE (`django_session`.`session_key` = 7ef2caa0bfa0927224695ca6e6389e10  AND `django_session`.`expire_date` > 2008-08-30 16:30:00 )</dd>
        				<dt>0.001</dt>
        				<dd>SELECT `auth_user`.`id`, `auth_user`.`username`, `auth_user`.`first_name`, `auth_user`.`last_name`, `auth_user`.`email`, `auth_user`.`password`, `auth_user`.`is_staff`, `auth_user`.`is_active`, `auth_user`.`is_superuser`, `auth_user`.`last_login`, `auth_user`.`date_joined` FROM `auth_user` WHERE `auth_user`.`id` = 2 </dd>
        				<dt>0.000</dt>
        				<dd>SELECT `auth_message`.`id`, `auth_message`.`user_id`, `auth_message`.`message` FROM `auth_message` WHERE `auth_message`.`user_id` = 2 </dd>
        			</dl>
    			</div>
    		</div>
    		<div id="djDebugTimerPanel" class="panelContent">
    		    <a title="Timer" href="#" class="timer panelToggle">Timer</a>
    		    <div class="panelContentView">
        			<h1>Timer</h1>
        			135.59 ms
    			</div>
    		</div>
    	</div>
    	<a href="" title="debug" id="debugButton">DEBUG</li>
	</div>
	<div id="header">
		<div class="container_12">
		    <div id="masthead">
    			<div id="logo">
    				<a href="/"><img width="" height="" title="Home" alt="Tastybrew" src="../media/img/logo.png"></a>
    			</div>
    			<ul id="nav-acct">
    				<li class="jump"><a href="#content">Skip to Content</a></li>
    				<li class="jump"><a href="#search">Skip to Search</a></li>
    				<li><a href="">Account</a></li>
    				<li><a href="">About</a></li>
    				<li class="last"><a href="/logout/">Sign out</a></li>
    			</ul>
    			<div id="searchBlock">
    			 	<form action="/search/" id="search" method="post" name="search">
        				<fieldset>
        					<a href="/search/">Advanced Search</a>
        					<label>Search for:</label>
        					<select name="type">
        						<option title="helper text here" value="forum">Forum</option>
        						<option title="helper text here" value="recipe">Recipe</option>
        						<option title="helper text here" value="people">People</option>
        					</select>
        					<input type="text" name="q" class="q" value="">
        					<input type="submit" name="search" class="submit" value="Search">
        				</fieldset>
        			</form>
    			</div>
			</div>
		</div>
	</div>
	<div id="navbar" class="clearfix">
	    <div class="container_12">
	       	<ul id="nav">
				<li id="nav-forum"><a href="/forum/"><span>Forum</span></a></li>
				<li id="nav-recipes"><a href="/recipes/" class="recipes">Recipes</a></li>
			</ul>
	    </div>
	</div>
	<div id="content">
		<div class="container_12">
			<div class="grid_8">
				Homepage
			</div>
			<div class="grid_4">
				Side
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="container_12">
		</div>
	</div>
</body>
</html>
